:root {
  --coke-red: #e4002b;
  --coke-black: #000000;
  --coke-white: #ffffff;
  --coke-gray: #f5f5f5;
}
body { font-family: Arial; background: white; color: black; }
header, footer { background: #E4002B; color: white; padding: 1em; text-align: center; }
nav a { margin: 0 10px; color: black; }

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--coke-gray);
  color: var(--coke-black);
}

/* Header */
.site-header {
  background-color: var(--coke-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 1rem 2rem;
}

.logo img {
  
  height: 40px;
  margin-right: 100px;
}

.main-nav a {
  color: var(--coke-white);
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 600;
}

.main-nav a:hover {
  text-decoration: underline;
}

/* Hero */
.hero {
  background: url('../images/hero-bg.jpg') center/cover no-repeat;
  color: var(--coke-white);
  text-align: center;
  padding: 6rem 2rem;
  background-color: var(--coke-red);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subhead {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.hero-btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--coke-white);
  color: var(--coke-red);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
}
 .featured .product-grid{
     display: flex;
     justify-content: space-evenly;
 }

